@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
*, ::before, ::after { box-sizing: border-box; }
body{
  background: linear-gradient(135deg, #69d2e7 0%,#a7dbd8 25%,#e0e4cc 46%,#e0e4cc 54%,#f38630 75%,#fa6900 100%);
}
hr {
  border:none;
  background:#E0E4CC;
  height:1px;
/*   width:60%;
  display:block;
  margin-left:0; */
}

h1{
    margin: 12px;
}
.productcont{
  width: 60%;
  padding: 5px;
}
.container {
  display: flex;
   overflow: scroll;
  margin: 1em auto; 
  background:#FFF; 
 height: auto;
  border-radius:5px;
  justify-content: space-between;
}

.cart-container {
  padding-right: 5px;
width: 35%;
  border:1px solid #E0E4CC;
  border-radius:5px;
  margin-top:1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  
}
button, input[type="submit"] { 
    border:1px solid #FA6900; 
    color:#fff; 
    background: #F38630; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #A7DBD8;
    border-color:#69D2E7;
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  display:flex;
  justify-content: space-between;
  padding:1em 0;
}
#emptyCart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}

.product{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
width: 100%;
display: flex;
height: 350px;
padding-top: 8px;
}
.product .imgDiv{
    flex: 0.3;

}

.product .imgDiv img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product .detailsDiv{
    flex: 0.7;
    text-align: left;
    padding-left: 50px;
}

.price,h4{
    font-weight: 300;
}
#qty{
  width: 40px;
}
html{
  height: 100%;
}

#promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#promo > input {
  height: 30px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}
#applyPromo {
  margin-left: 20px;
}
/* footer */
.footer2 p {
  /* border: 1px red solid; */
  color: rgb(5, 3, 3);
  width: 36%;
  margin: auto;
  margin-top: 20px;
  /* margin-bottom: 800px; */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.footer1 > span:hover {
  cursor: pointer;
  /* border-bottom: 1px solid #666 ; */
}
.footer1 > span {
  margin-right: 5px;
}
.footer1 {
  padding-top: 50px;
  width: 100%;

  /* border: 1px red solid; */
  color: rgb(75, 75, 75);
  text-align: center;
}
