
        #navbar{
            width: 100%;
            margin: auto;
            border: 1px solid rd;
            background-color: #2d2d38;
            padding-bottom: 5px;
            margin-top: -8px;
            margin-left: -8px;
            padding-left: 15px;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            padding-right: -5px;
        }
        #samratfirst{
           width: 65%;
           margin: auto;
           display: flex;
          border: 1px solid whie;
          justify-content: center;
          margin-bottom: 15px;
          background-color: #2d2d38
          /* align-items: center; */
        }
        #logo{
            width: 200px;
            height: 50px;
            margin-top: 20px;
            margin-right: 20px;
            margin-left: -20px;
            background-color: #2d2d38
            
        }
        #inner1{
            margin-right: -10px;
            background-color: #2d2d38
        }
        #search{
            margin-top: 18px;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 150px;
            border-right: none;
            background-color: white;
            border: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            
            
        }
        #span1{
            display: flex;
            gap: 6px;
            font-size: 9.9px;
            color: rgb(172, 172, 172);
            margin-top: -2px;
            background-color: #2d2d38
        }
        #span1>p{
            background-color: #2d2d38
        }
        #span1 > p:hover{
            color: orange;
            text-decoration: underline;
            cursor: pointer;
    
        }
        #flag{
            height: 10px;
            width: 15px;
            margin-right: 0px;
            margin-top: -20px;
            background-color: #2d2d38;
        }
        #sign{
            display: flex;
            margin-top: 20px;
            margin-left: 40px;
            background-color: #2d2d38;
            cursor: pointer;
        }
        #signlogo{
            height: 25px;
            width: 30px;
            margin-right:3px;
            border: 1px solid rd;
            margin-top: 0px;
            background-color: #2d2d38;
            cursor: pointer;
        }
        #cart{
            cursor: pointer;
        }
        #hello{
            font-size: 10px;
            margin-top: 0px;
            border: 1px solid gren;
            color: rgb(172, 172, 172);
            background-color: #2d2d38
        }
        #in{
            margin-top: -9.9px;
            font-weight: bolder;
            font-size: 12px;
            color: white;
            background-color: #2d2d38
        }
        #in:hover{
            color: orange;
            cursor: pointer;
        }
      
        #cartlogo{
            height: 30px;
            width: 35px;
            margin-top: 18px;
            margin-left: 30px;
            background-color: #2d2d38
        }
        #cartlogo:hover{
            color: orange;
        }
        #press{
            height: 25px;
            width: 25px;
            margin-top: 18px;
            border: 2px solid blck;
            border-left: none;
            background-color: #2d2d38;
            cursor: pointer;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            }
        #searchbut{
            display: flex;
            background-color: #2d2d38
        }
        #inner2{
            margin-top: 15px;
            margin-left: 30px;
            background-color: #2d2d38;
        }
        #inner2>div>h4{
            font-size: 12px;
            color: rgb(172, 172, 172);
            background-color: #2d2d38
        }
        #inner2>div{
            margin-top: -12px;
            background-color: #2d2d38
        }
        #divflag{
            font-size: 11px;
            color: white;
            background-color: #2d2d38
        }
        #divflag>span:hover{
          color: orange;
          cursor: pointer;
        }
        a{
            text-decoration: none;
            color: white;
            font-weight: bolder;
            font-size: 11px; 
            background-color: #2d2d38;

        }
        a:hover{
            color: orange;
        }
        #loc{
            margin-top: -5px;
            background-color: #2d2d38
        }